Source: kafka
Section: net
Priority: optional
Maintainer: Rahul Amaram <rahul.amaram@vizury.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: kafka
Architecture: all
Depends: ${misc:Depends}, default-jre
Description: Apache Kafka
